In [1]:
#Netflix Analytics EDA
#Author: Dhruv Sharma
#Date: 2025-10-23

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
# =============================================================
# PANDAS LEARNING - SECTION 1 : LOADING DATA & BASIC INSPECTION
# =============================================================

In [3]:
#Load dataset
df = pd.read_csv('netflix_titles.csv')

print('Data Loaded Successfully!')
print('='*70)

Data Loaded Successfully!
======================================================================

In [4]:
# =============================================================
# BASIC INSPECTION METHODS - Getting to know the data
# =============================================================

In [5]:
# .shape - Tells you (number of rows, number of columns)
print(f"\n Shape of DataFrame:")
print(f"{df.shape}")
print(f"Translation: {df.shape[0]:,} rows * {df.shape[1]} columns")

 Shape of DataFrame:
(8807, 12)
Translation: 8,807 rows * 12 columns

In [6]:
# .head - Tells you first 5 rows by default, this is usually your first look at any dataset
print(f"\n Head of DataFrame:")
print(f"{df.head()}")

 Head of DataFrame:
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [7]:
# .tail - Tells you last 5 rows by default, this is usually your first look at any dataset
print(f"\n Tail of DataFrame:")
print(f"{df.tail()}")

 Tail of DataFrame:
     show_id     type        title         director  \
8802   s8803    Movie       Zodiac    David Fincher
8803   s8804  TV Show  Zombie Dumb              NaN
8804   s8805    Movie   Zombieland  Ruben Fleischer
8805   s8806    Movie         Zoom     Peter Hewitt
8806   s8807    Movie       Zubaan      Mozez Singh

                                                   cast        country  \
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year rating   duration  \
8802  November 20, 2019          2007      R    158 min
8803       July 1, 2019          2018  TV-Y7  2 Seasons
8804   November 1, 2019          2009      R     88 min
8805   January 11, 2020          2006     PG     88 min
8806      March 2, 2019          2015  TV-14    111 min

                                           listed_in  \
8802                  Cult Movies, Dramas, Thrillers
8803          Kids' TV, Korean TV Shows, TV Comedies
8804                         Comedies, Horror Movies
8805              Children & Family Movies, Comedies
8806  Dramas, International Movies, Music & Musicals

                                            description
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

In [8]:
# .columns - Tells you all column names of data set
print(f"\n Columns of DataFrame:")
print(f"{df.columns.tolist()}")

 Columns of DataFrame:
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

In [9]:
# .dtypes - Tells you data types of all columns of data set
print(f"\n Data Types of the Columns of DataFrame:")
print(f"{df.dtypes}")

 Data Types of the Columns of DataFrame:
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [10]:
# .info - Tells you column names, non null counts, data types, memory usage
print(f"\n Info of DataFrame:")
print(f"{df.info()}")

 Info of DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [11]:
# =============================================================
# PANDAS LEARNING - SECTION 2 : SELECTING DATA
# =============================================================

In [12]:
# Method 1 : Selecting Columns
titles = df['title']
print("Just the titles (first 5):")
print(titles.head())
# Column as Np Series
print(f"Type: {type(titles)}")

Just the titles (first 5):
0     Dick Johnson Is Dead
1            Blood & Water
2                Ganglands
3    Jailbirds New Orleans
4             Kota Factory
Name: title, dtype: object
Type: <class 'pandas.core.series.Series'>

In [13]:
#Multiple Columns: Returns a DataFrame (2-D)
subset = df[['title','type','release_year']]
print('Multiple columns (first 5):')
print(subset.head())
print(f"Type: {type(subset)}")

Multiple columns (first 5):
                   title     type  release_year
0   Dick Johnson Is Dead    Movie          2020
1          Blood & Water  TV Show          2021
2              Ganglands  TV Show          2021
3  Jailbirds New Orleans  TV Show          2021
4           Kota Factory  TV Show          2021
Type: <class 'pandas.core.frame.DataFrame'>

In [14]:
#Method 2 : Use LOC

In [15]:
print("Row 0 using .loc[0]:")
print(df.loc[0])
print()

Row 0 using .loc[0]:
show_id                                                        s1
type                                                        Movie
title                                        Dick Johnson Is Dead
director                                          Kirsten Johnson
cast                                                          NaN
country                                             United States
date_added                                     September 25, 2021
release_year                                                 2020
rating                                                      PG-13
duration                                                   90 min
listed_in                                           Documentaries
description     As her father nears the end of his life, filmm...
Name: 0, dtype: object

In [16]:
#Get rows 0 to 4, only specific columns

In [17]:
print("Rows 0-4, specific columns:")
print(df.loc[0:4, ['title','type','rating']])
print()

Rows 0-4, specific columns:
                   title     type rating
0   Dick Johnson Is Dead    Movie  PG-13
1          Blood & Water  TV Show  TV-MA
2              Ganglands  TV Show  TV-MA
3  Jailbirds New Orleans  TV Show  TV-MA
4           Kota Factory  TV Show  TV-MA

In [18]:
#Get all rows, spcific columns (: means "all")
print("All rows, just title and director (first 5):")
print(df.loc[:,['title','director']].head())

All rows, just title and director (first 5):
                   title         director
0   Dick Johnson Is Dead  Kirsten Johnson
1          Blood & Water              NaN
2              Ganglands  Julien Leclercq
3  Jailbirds New Orleans              NaN
4           Kota Factory              NaN

In [19]:
#Method 3: Use iloc, Select by INTEGER POSITION (like array indexing)

In [20]:
print("First row using .iloc[0]:")
print(df.iloc[0])

First row using .iloc[0]:
show_id                                                        s1
type                                                        Movie
title                                        Dick Johnson Is Dead
director                                          Kirsten Johnson
cast                                                          NaN
country                                             United States
date_added                                     September 25, 2021
release_year                                                 2020
rating                                                      PG-13
duration                                                   90 min
listed_in                                           Documentaries
description     As her father nears the end of his life, filmm...
Name: 0, dtype: object

In [21]:
print("Get first 5 rows, first 3 columns:")
print(df.iloc[0:5,0:3])
print()

Get first 5 rows, first 3 columns:
  show_id     type                  title
0      s1    Movie   Dick Johnson Is Dead
1      s2  TV Show          Blood & Water
2      s3  TV Show              Ganglands
3      s4  TV Show  Jailbirds New Orleans
4      s5  TV Show           Kota Factory

In [22]:
print("Get specific rows and columns by position:")
print(df.iloc[[0,5,10],[2,4,7]])

Get specific rows and columns by position:
                                  title  \
0                  Dick Johnson Is Dead
5                         Midnight Mass
10  Vendetta: Truth, Lies and The Mafia

                                                 cast  release_year
0                                                 NaN          2020
5   Kate Siegel, Zach Gilford, Hamish Linklater, H...          2021
10                                                NaN          2021

In [23]:
# ============================================================================
# METHOD 4: Getting a SINGLE VALUE
# ============================================================================

# Using .loc with row label and column name
single_value = df.loc[0, 'title']
print(f"📌 Single value using .loc: {single_value}")

# Using .iloc with positions
single_value2 = df.iloc[0, 2]  # Row 0, Column 2
print(f"📌 Single value using .iloc: {single_value2}")

# Using .at (faster for single value with labels)
single_value3 = df.at[0, 'title']
print(f"📌 Single value using .at: {single_value3}")

# Using .iat (faster for single value with positions)
single_value4 = df.iat[0, 2]
print(f"📌 Single value using .iat: {single_value4}")
print()

📌 Single value using .loc: Dick Johnson Is Dead
📌 Single value using .iloc: Dick Johnson Is Dead
📌 Single value using .at: Dick Johnson Is Dead
📌 Single value using .iat: Dick Johnson Is Dead

In [24]:
print("="*70)
print("📚 SELECTION METHODS SUMMARY:")
print("="*70)
print("df['column']              → Select single column (Series)")
print("df[['col1', 'col2']]      → Select multiple columns (DataFrame)")
print("df.loc[0]                 → Select row by label")
print("df.loc[0:5, 'title']      → Rows 0-5, column 'title'")
print("df.iloc[0]                → Select row by position")
print("df.iloc[0:5, 0:3]         → First 5 rows, first 3 columns")
print("df.at[0, 'title']         → Single value (fast, by label)")
print("df.iat[0, 2]              → Single value (fast, by position)")
print("="*70)

======================================================================
📚 SELECTION METHODS SUMMARY:
======================================================================
df['column']              → Select single column (Series)
df[['col1', 'col2']]      → Select multiple columns (DataFrame)
df.loc[0]                 → Select row by label
df.loc[0:5, 'title']      → Rows 0-5, column 'title'
df.iloc[0]                → Select row by position
df.iloc[0:5, 0:3]         → First 5 rows, first 3 columns
df.at[0, 'title']         → Single value (fast, by label)
df.iat[0, 2]              → Single value (fast, by position)
======================================================================

In [25]:
# ============================================================================
# PANDAS LEARNING - SECTION 3: FILTERING DATA
# ============================================================================
# This is WHERE THE MAGIC HAPPENS! 
# Boolean indexing lets you filter data based on conditions
# ============================================================================

In [26]:
# ============================================================================
# UNDERSTANDING BOOLEAN INDEXING
# ============================================================================
#Step 1: Create a condition (returns True/False for each row)

In [27]:
condition = df['type'] == 'Movie'
print("What does a condition look like?")
print(condition.head(10))

What does a condition look like?
0     True
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8    False
9     True
Name: type, dtype: bool

In [28]:
#Step 2 : Use the condition to filter
movies = df[condition]
print(f"Total Movies: {len(movies):,}")
print()

Total Movies: 6,131

In [29]:
#Usually written in ONE line (most common way):
movies = df[df['type'] == 'Movie']
print(f"Movies (one-liner): {len(movies):,}")

Movies (one-liner): 6,131

In [30]:
#Comparison Operators
#Equal to:
tv_shows = df[df['type'] == 'TV Show']
print(f"TV Shows : {len(tv_shows):,}")

#Not Equal to:
tv_shows = df[df['type'] != 'Movie']
print(f"TV Shows : {len(tv_shows):,}")

#Greater than:
tv_shows = df[df['release_year'] >= 2020]
print(f"Released after 2020 or in : {len(tv_shows):,}")

#Less than:
tv_shows = df[df['release_year'] < 2020]
print(f"Released before 2020 or in : {len(tv_shows):,}")

#Combinations: 
recent_movies = df[(df['type'] == 'Movie') & (df['release_year'] > 2020)]
print(f"Movies released after 2020 : {len(recent_movies):,}")

recent_movies = df[(df['release_year'] <  1990 ) | (df['release_year'] > 2020)]
print(f"Very Old or very recent : {len(recent_movies):,}")

not_pg13 = df[~(df['rating'] <  "PG-13")]
print(f"Not PG-13 : {len(not_pg13):,}")

TV Shows : 2,676
TV Shows : 2,676
Released after 2020 or in : 1,545
Released before 2020 or in : 7,262
Movies released after 2020 : 277
Very Old or very recent : 843
Not PG-13 : 8,393

In [31]:
#STRING OPERATIONS IN FILTERING
# .str.contains() - Check if string contains substring
# na=False means treat missing values as False
action_content = df[df['listed_in'].str.contains('Action', na=False)]
print(f"💥 Content with 'Action' genre: {len(action_content):,}")

# Case-insensitive search
action_case_insensitive = df[df['listed_in'].str.contains('action', case=False, na=False)]
print(f"💥 Action (case-insensitive): {len(action_case_insensitive):,}")

# .str.startswith() - Check if string starts with substring
titles_starting_with_the = df[df['title'].str.startswith('The', na=False)]
print(f"📝 Titles starting with 'The': {len(titles_starting_with_the):,}")

# .str.endswith() - Check if string ends with substring
titles_ending_with_s = df[df['title'].str.endswith('s', na=False)]
print(f"📝 Titles ending with 's': {len(titles_ending_with_s):,}")
print()

💥 Content with 'Action' genre: 1,027
💥 Action (case-insensitive): 1,027
📝 Titles starting with 'The': 1,130
📝 Titles ending with 's': 1,383

In [32]:
#.isin - Check if value is in a list
ratings_to_check = ['PG','PG-13','G']
family_friendly = df[df['rating'].isin(ratings_to_check)]
print(f"Family-friendly ratings (PG, PG-13, G): {len(family_friendly):,}")

Family-friendly ratings (PG, PG-13, G): 818

In [33]:
countries = ['United States', 'India', 'United Kingdom']
selected_countries = df[df['country'].isin(countries)]
print(f"🌍 Content from US, India, UK: {len(selected_countries):,}")
print()

🌍 Content from US, India, UK: 4,209

In [34]:
# ============================================================================
# .isnull() and .notnull() - Filter based on missing values
# ============================================================================

# Rows WHERE director is missing
no_director = df[df['director'].isnull()]
print(f"Content with NO director listed: {len(no_director):,}")

# Rows WHERE director is NOT missing
has_director = df[df['director'].notnull()]
print(f"Content WITH director listed: {len(has_director):,}")
print()

Content with NO director listed: 2,634
Content WITH director listed: 6,173

In [35]:
# ============================================================================
# .query() METHOD - Alternative syntax (more readable for complex filters)
# ============================================================================

# Instead of: df[(df['type'] == 'Movie') & (df['release_year'] > 2020)]
# You can write:
recent_movies_query = df.query("type == 'Movie' and release_year > 2020")
print(f"Recent Movies using .query(): {len(recent_movies_query):,}")

# More complex query
complex_query = df.query("type == 'TV Show' and release_year >= 2015 and release_year <= 2020")
print(f"TV Shows 2015-2020 using .query(): {len(complex_query):,}")
print()

Recent Movies using .query(): 277
TV Shows 2015-2020 using .query(): 1,884

In [36]:
# ============================================================================
# PRACTICAL EXAMPLES - Real Analysis Questions
# ============================================================================

print("="*70)
print("REAL-WORLD FILTERING EXAMPLES:")
print("="*70)

# 1. Find all Movies rated TV-MA released after 2018
mature_recent_movies = df[
    (df['type'] == 'Movie') & 
    (df['rating'] == 'TV-MA') & 
    (df['release_year'] > 2018)
]
print(f"Mature recent movies: {len(mature_recent_movies):,}")
print(mature_recent_movies[['title', 'release_year', 'rating']].head())
print()

# 2. Find content from India or United States
india_us = df[df['country'].str.contains('India|United States', na=False)]
print(f"Content from India or US: {len(india_us):,}")
print()

# 3. Find TV Shows with more than 1 season
# First, let's see what duration looks like for TV Shows
print("Sample TV Show durations:")
print(df[df['type'] == 'TV Show']['duration'].head(10))
print()

======================================================================
REAL-WORLD FILTERING EXAMPLES:
======================================================================
Mature recent movies: 616
                                                title  release_year rating
12                                       Je Suis Karl          2021  TV-MA
16  Europe's Most Dangerous Man: Otto Skorzeny in ...          2020  TV-MA
35                     The Father Who Moves Mountains          2021  TV-MA
36                                     The Stronghold          2021  TV-MA
84                               Omo Ghetto: the Saga          2020  TV-MA

Content from India or US: 4,698

Sample TV Show durations:
1     2 Seasons
2      1 Season
3      1 Season
4     2 Seasons
5      1 Season
8     9 Seasons
10     1 Season
11     1 Season
14     1 Season
15    4 Seasons
Name: duration, dtype: object

In [37]:
# ============================================================================
# QUICK REFERENCE CHEAT SHEET
# ============================================================================
print("="*70)
print("📚 FILTERING METHODS SUMMARY:")
print("="*70)
print("df[df['col'] == value]           → Equal to")
print("df[df['col'] != value]           → Not equal to")
print("df[df['col'] > value]            → Greater than")
print("df[df['col'] >= value]           → Greater than or equal")
print("df[df['col'] < value]            → Less than")
print("df[df['col'] <= value]           → Less than or equal")
print("df[(cond1) & (cond2)]            → AND (both true)")
print("df[(cond1) | (cond2)]            → OR (either true)")
print("df[~(condition)]                 → NOT (negate)")
print("df[df['col'].isin([list])]       → Value in list")
print("df[df['col'].isnull()]           → Is missing")
print("df[df['col'].notnull()]          → Not missing")
print("df[df['col'].str.contains('x')]  → Contains substring")
print("df.query('col > 10')             → Alternative syntax")
print("="*70)

======================================================================
📚 FILTERING METHODS SUMMARY:
======================================================================
df[df['col'] == value]           → Equal to
df[df['col'] != value]           → Not equal to
df[df['col'] > value]            → Greater than
df[df['col'] >= value]           → Greater than or equal
df[df['col'] < value]            → Less than
df[df['col'] <= value]           → Less than or equal
df[(cond1) & (cond2)]            → AND (both true)
df[(cond1) | (cond2)]            → OR (either true)
df[~(condition)]                 → NOT (negate)
df[df['col'].isin([list])]       → Value in list
df[df['col'].isnull()]           → Is missing
df[df['col'].notnull()]          → Not missing
df[df['col'].str.contains('x')]  → Contains substring
df.query('col > 10')             → Alternative syntax
======================================================================

In [38]:
# I had two questions here, might be obvious for others, but good to know:

In [39]:
### 1) What's na=False doing?

In [40]:
# WITHOUT na=False (default behavior: na=NaN)
print("🔍 WITHOUT na=False:")
result_without = df['listed_in'].str.contains('Action')
print(result_without.head(10))
print(f"Missing values in result: {result_without.isnull().sum()}")
print()

# The problem: If 'listed_in' has NaN (missing values), 
# .str.contains() returns NaN for those rows
# When you filter with NaN values, those rows are EXCLUDED
# WITH na=False
print("🔍 WITH na=False:")
result_with = df['listed_in'].str.contains('Action', na=False)
print(result_with.head(10))
print(f"Missing values in result: {result_with.isnull().sum()}")
print()

🔍 WITHOUT na=False:
0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: listed_in, dtype: bool
Missing values in result: 0

🔍 WITH na=False:
0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: listed_in, dtype: bool
Missing values in result: 0

In [41]:
 # Check how many rows have missing 'listed_in'
print(f"Missing 'listed_in' values: {df['listed_in'].isnull().sum()}")

# Scenario: Find all Action content
# WITHOUT na=False
action_without = df[df['listed_in'].str.contains('Action')]
print(f"Action content WITHOUT na=False: {len(action_without)}")

# WITH na=False  
action_with = df[df['listed_in'].str.contains('Action', na=False)]
print(f"Action content WITH na=False: {len(action_with)}")

# They're the same because we drop NaN either way when filtering
# But na=False is CLEARER about intent and avoids warnings

print()
print("="*70)
print("WHAT na=False DOES:")
print("="*70)
print("na=False → Treat missing/NaN values as False (don't match)")
print("na=True  → Treat missing/NaN values as True (match)")
print("na=NaN   → Keep missing values as NaN (default)")
print("="*70)

Missing 'listed_in' values: 0
Action content WITHOUT na=False: 1027
Action content WITH na=False: 1027

======================================================================
WHAT na=False DOES:
======================================================================
na=False → Treat missing/NaN values as False (don't match)
na=True  → Treat missing/NaN values as True (match)
na=NaN   → Keep missing values as NaN (default)
======================================================================

In [42]:
### 2) What selection method is used most frequently? 

# ============================================================================
# THE 80/20 RULE - What You'll Actually Use 90% of the Time
# ============================================================================

# ⭐⭐⭐ TIER 1: USE THESE DAILY (90% of your work)
# ============================================================================

# 1. Simple equality filtering
movies = df[df['type'] == 'Movie']
recent = df[df['release_year'] > 2020]

# 2. Combining with & (AND)
recent_movies = df[(df['type'] == 'Movie') & (df['release_year'] > 2020)]

# 3. .isin() for multiple values
ratings = df[df['rating'].isin(['PG', 'PG-13', 'G'])]

# 4. .isnull() and .notnull() for missing data checks
has_director = df[df['director'].notnull()]

# 5. .str.contains() for text searching
action = df[df['listed_in'].str.contains('Action', na=False)]

# ============================================================================
# ⭐⭐ TIER 2: USE THESE REGULARLY (When you need them)
# ============================================================================

# 6. Combining with | (OR) - less common than &
old_or_new = df[(df['release_year'] < 1990) | (df['release_year'] > 2020)]

# 7. NOT (~) - occasionally useful
not_movies = df[~(df['type'] == 'Movie')]

# 8. .query() - some people love it, some never use it
result = df.query("type == 'Movie' and release_year > 2020")

# ============================================================================
# ⭐ TIER 3: NICE TO KNOW (Rarely used in practice)
# ============================================================================

# 9. .str.startswith() / .endswith() - occasional use cases
starts_the = df[df['title'].str.startswith('The', na=False)]

# ============================================================================
# REAL-WORLD USAGE FREQUENCY (My Experience)
# ============================================================================
print("="*70)
print("📊 WHAT YOU'LL ACTUALLY USE (Ranked by Frequency):")
print("="*70)
print("1. df[df['col'] == value]                 🔥🔥🔥 (Every day)")
print("2. df[(condition1) & (condition2)]        🔥🔥🔥 (Every day)")
print("3. df[df['col'] > value]                  🔥🔥🔥 (Every day)")
print("4. df[df['col'].isin([list])]             🔥🔥  (Very often)")
print("5. df[df['col'].notnull()]                🔥🔥  (Very often)")
print("6. df[df['col'].str.contains('x')]        🔥🔥  (Very often)")
print("7. df[(cond1) | (cond2)]                  🔥   (Sometimes)")
print("8. df[~(condition)]                       🔥   (Sometimes)")
print("9. df.query('condition')                  ⚡   (Personal preference)")
print("10. df[df['col'].str.startswith('x')]     ⚡   (Occasionally)")
print("="*70)

# ============================================================================
# MY RECOMMENDATION FOR YOU
# ============================================================================
print("\n💡 START WITH THESE 5 (Master these first):")
print("="*70)
print("1. df[df['column'] == value]")
print("2. df[df['column'] > value]")  
print("3. df[(condition1) & (condition2)]")
print("4. df[df['column'].isin([list])]")
print("5. df[df['column'].notnull()]")
print()
print("Once comfortable, add:")
print("6. df[df['column'].str.contains('text', na=False)]")
print("="*70)

# ============================================================================
# REALISTIC EXAMPLE - Job Interview Style Question
# ============================================================================
print("\n🎯 REAL INTERVIEW QUESTION:")
print("Find all Movies, released after 2015, rated TV-MA or R")
print()

# This is what 90% of filtering looks like in real work:
result = df[
    (df['type'] == 'Movie') &                    # Equality
    (df['release_year'] > 2015) &                # Comparison
    (df['rating'].isin(['TV-MA', 'R']))          # Multiple values
]

print(f"Result: {len(result)} movies found")
print(result[['title', 'release_year', 'rating']].head())

======================================================================
📊 WHAT YOU'LL ACTUALLY USE (Ranked by Frequency):
======================================================================
1. df[df['col'] == value]                 🔥🔥🔥 (Every day)
2. df[(condition1) & (condition2)]        🔥🔥🔥 (Every day)
3. df[df['col'] > value]                  🔥🔥🔥 (Every day)
4. df[df['col'].isin([list])]             🔥🔥  (Very often)
5. df[df['col'].notnull()]                🔥🔥  (Very often)
6. df[df['col'].str.contains('x')]        🔥🔥  (Very often)
7. df[(cond1) | (cond2)]                  🔥   (Sometimes)
8. df[~(condition)]                       🔥   (Sometimes)
9. df.query('condition')                  ⚡   (Personal preference)
10. df[df['col'].str.startswith('x')]     ⚡   (Occasionally)
======================================================================

💡 START WITH THESE 5 (Master these first):
======================================================================
1. df[df['column'] == value]
2. df[df['column'] > value]
3. df[(condition1) & (condition2)]
4. df[df['column'].isin([list])]
5. df[df['column'].notnull()]

Once comfortable, add:
6. df[df['column'].str.contains('text', na=False)]
======================================================================

🎯 REAL INTERVIEW QUESTION:
Find all Movies, released after 2015, rated TV-MA or R

Result: 1902 movies found
                                                title  release_year rating
12                                       Je Suis Karl          2021  TV-MA
16  Europe's Most Dangerous Man: Otto Skorzeny in ...          2020  TV-MA
35                     The Father Who Moves Mountains          2021  TV-MA
36                                     The Stronghold          2021  TV-MA
73                                       King of Boys          2018  TV-MA

In [43]:
# ============================================================================
# PANDAS LEARNING - SECTION 4: HANDLING MISSING DATA
# ============================================================================
# Real data is MESSY. Missing values are everywhere!
# Learning to handle them properly is a CRITICAL skill.
# ============================================================================

In [44]:
# ============================================================================
# STEP 1: IDENTIFYING MISSING DATA
# ============================================================================

In [45]:
print("FINDING MISSING VALUES:")
print("="*70)

missing_count = df.isnull().sum()
print("Missing values per column:")
print(missing_count)

#Get percent of missings 
missing_percent = (df.isnull().sum()/len(df))*100
print('Missing values as percentage:')
print(missing_percent.round(2))
print()

FINDING MISSING VALUES:
======================================================================
Missing values per column:
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64
Missing values as percentage:
show_id          0.00
type             0.00
title            0.00
director        29.91
cast             9.37
country          9.44
date_added       0.11
release_year     0.00
rating           0.05
duration         0.03
listed_in        0.00
description      0.00
dtype: float64

In [46]:
#Create a nice summary
missing_summary = pd.DataFrame({
    'Column': df.columns,
    'Missing_Count':missing_count.values,
    'Missing_Percent':missing_percent.round(2).values
})
missing_summary = missing_summary[missing_summary['Missing_Count'] > 0].sort_values('Missing_Count',ascending = False)

In [47]:
print("Missing Data Summary (only columns with missing data):")
print(missing_summary.to_string(index = False))
print()

Missing Data Summary (only columns with missing data):
    Column  Missing_Count  Missing_Percent
  director           2634            29.91
   country            831             9.44
      cast            825             9.37
date_added             10             0.11
    rating              4             0.05
  duration              3             0.03

In [48]:
#Total missing values in entire dataset
total_missing = df.isnull().sum().sum()
total_cells = df.shape[0]*df.shape[1]
print(f"Total missing values:{total_missing:,} out of {total_cells:,} cells ({(total_missing/total_cells)*100:.2f}%)")

Total missing values:4,307 out of 105,684 cells (4.08%)

In [49]:
#Step 2 : Strategy 1: Dropping Missing Data
print("="*70)
print("Strategy 1: Dropping Missing Data")
print("="*70)

======================================================================
Strategy 1: Dropping Missing Data
======================================================================

In [50]:
print(f"Original Shape:{df.shape}")

Original Shape:(8807, 12)

In [51]:
#dropna()- Remove rows with ANY missing values
df_dropped_any = df.dropna()
print(f"After dropna() [drop any NaN]: {df_dropped_any.shape}")
print(f"Rows lost: {len(df) - len(df_dropped_any):,} ({((len(df) - len(df_dropped_any))/len(df))*100:.1f}%)")
print("This is very aggressive - you lose a lot of data!")
print()

After dropna() [drop any NaN]: (5332, 12)
Rows lost: 3,475 (39.5%)
This is very aggressive - you lose a lot of data!

In [52]:
# dropna (how = 'all') - Remove rows where ALL values are missing
df_dropped_all = df.dropna(how = 'all')
print(f"After dropna() [drop all NaN]: {df_dropped_all.shape}")
print(f"Rows lost: {len(df) - len(df_dropped_all):,} ({((len(df) - len(df_dropped_all))/len(df))*100:.1f}%)")
print("This is safer - only removes completely empty rows")

After dropna() [drop all NaN]: (8807, 12)
Rows lost: 0 (0.0%)
This is safer - only removes completely empty rows

In [53]:
#dropna (subset = []) - Remove rows with missing values in SPECIFIC columns
df_dropped_subset = df.dropna(subset=['rating'])
print(f"After dropna(subset=['rating']): {df_dropped_subset.shape}")
print(f"Rows lost: {len(df) - len(df_dropped_subset):,}")
print("This is targeted - only care about specific columns")
print()

After dropna(subset=['rating']): (8803, 12)
Rows lost: 4
This is targeted - only care about specific columns

In [54]:
#dropna(thresh=) - keep rows with atleast X non-null values
df_dropped_thresh = df.dropna(thresh = 10)
print(f"After dropna(thresh=10): {df_dropped_thresh.shape}")
print(f"Rows lost: {len(df) - len(df_dropped_thresh):,}")
print()

After dropna(thresh=10): (8709, 12)
Rows lost: 98

In [55]:
#dropna (axis = 1) - DROP COLUMNS with missing
df_dropped_columns = df.dropna(axis = 1)
print(f"After dropna columns: {df_dropped_columns.shape}")
print(f"Columns lost: {df.shape[1] - df_dropped_columns.shape[1]}")
print(f"Remaining Columns: {df_dropped_columns.columns.tolist()}")
print()

After dropna columns: (8807, 6)
Columns lost: 6
Remaining Columns: ['show_id', 'type', 'title', 'release_year', 'listed_in', 'description']

In [56]:
# ============================================================================
# STEP 3: STRATEGY 2 - FILLING MISSING DATA
# ============================================================================

In [57]:
print("="*70)
print("Strategy 2: Filling Missing Data")
print("="*70)

df_filled = df.copy()
df_filled['director'] = df_filled['director'].fillna('Unknown')
print(f"Filled 'director' with 'Unknown'")
print(f"Missing directors now:{df_filled['director'].isnull().sum()}")
print()

======================================================================
Strategy 2: Filling Missing Data
======================================================================
Filled 'director' with 'Unknown'
Missing directors now:0

In [58]:
#Fill missing cast with 'No Cast Information'
df_filled['cast'] = df_filled['cast'].fillna('No Cast Information')
print(f"Filled 'cast' with 'No Cast Information'")
print(f"Missing cast now: {df_filled['cast'].isnull().sum()}")
print()

Filled 'cast' with 'No Cast Information'
Missing cast now: 0

In [59]:
#Fill missing country with 'Unknown'
df_filled['country'] = df_filled['country'].fillna('Unknown')
print(f"Filled 'country' with 'Unknown'")
print(f"Missing country now: {df_filled['country'].isnull().sum()}")
print()

Filled 'country' with 'Unknown'
Missing country now: 0

In [60]:
df_filled['date_added'] = df_filled['date_added'].fillna(method = 'ffill')
print(f"Forward Filled 'date_added'")
print(f"Missing date_added now: {df_filled['date_added'].isnull().sum()}")
print()

Forward Filled 'date_added'
Missing date_added now: 0

In [61]:
#Check remaining missing values
print("Missing values after filling:")
print(df_filled.isnull().sum()[df_filled.isnull().sum() > 0])

Missing values after filling:
rating      4
duration    3
dtype: int64

In [62]:
# ============================================================================
# STEP 4: STRATEGY 3 - REPLACING VALUES
# ============================================================================

In [63]:
print("="*70)
print("Strategy 3: Replacing values")
print("="*70)

======================================================================
Strategy 3: Replacing values
======================================================================

In [64]:
#Sometimes data has placeholder values SHOULD be NaN, example: not available,
# N/A, Unknown etc.

#replace() -> Replace specific values
df_replaced = df.copy()
df_replaced = df_replaced.replace('',np.nan)
print("Replaced empty strings with NaN")

#Replace multiple values at once 
df_replaced = df_replaced.replace({
    'Not Available':np.nan,
    'N/A':np.nan,
    'Unknown': np.nan
})

print("Replaced placeholder values with NaN")
print()

Replaced empty strings with NaN
Replaced placeholder values with NaN

In [65]:

# ============================================================================
# PRACTICAL DECISION TREE - WHAT TO DO WITH MISSING DATA?
# ============================================================================
print("="*70)
print("🎯 DECISION TREE: What to do with missing data?")
print("="*70)
print("""
1. Is the missing data < 5% of total rows?
   → YES: Drop those rows with dropna(subset=['column'])
   → NO: Go to step 2

2. Is the column important for your analysis?
   → NO: Drop the entire column with drop('column', axis=1)
   → YES: Go to step 3

3. Can you fill with a meaningful value?
   → YES: Use fillna('meaningful_value')
   → NO: Go to step 4

4. Is it categorical data?
   → YES: Fill with 'Unknown' or most frequent value (mode)
   → NO: Fill with mean/median for numerical data

5. Is it completely random?
   → YES: Safe to drop or fill
   → NO: Investigate WHY it's missing (might be meaningful!)
""")

======================================================================
🎯 DECISION TREE: What to do with missing data?
======================================================================

1. Is the missing data < 5% of total rows?
   → YES: Drop those rows with dropna(subset=['column'])
   → NO: Go to step 2

2. Is the column important for your analysis?
   → NO: Drop the entire column with drop('column', axis=1)
   → YES: Go to step 3

3. Can you fill with a meaningful value?
   → YES: Use fillna('meaningful_value')
   → NO: Go to step 4

4. Is it categorical data?
   → YES: Fill with 'Unknown' or most frequent value (mode)
   → NO: Fill with mean/median for numerical data

5. Is it completely random?
   → YES: Safe to drop or fill
   → NO: Investigate WHY it's missing (might be meaningful!)

In [66]:
# ============================================================================
# REAL-WORLD EXAMPLE - Netflix Dataset
# ============================================================================

In [67]:
print("="*70)
print("🎬 PRACTICAL EXAMPLE: Cleaning Netflix Data")
print("="*70)

# Start fresh
df_clean = df.copy()
print(f"Starting shape: {df_clean.shape}")
print(f"Starting missing values: {df_clean.isnull().sum().sum()}")
print()

#Step 1: Drop rows with missing 'rating' (only 4 rows, not critical)
df_clean = df_clean.dropna(subset = ['rating'])
print(f"After dropping missing ratings: {df_clean.shape}")

#Step 2: Fill missing 'director' with 'Unknown Director'
df_clean['director'] = df_clean['director'].fillna('Unknown Director')
print(f"After filling directors: {df_clean['director'].isnull().sum()} missing")

#Step 3: Fill missing 'cast' with 'Cast Not Available'
df_clean['cast'] = df_clean['cast'].fillna('Cast Not Available')
print(f"After filling cast: {df_clean['cast'].isnull().sum()} missing")

#Step 3: Fill missing 'country' with 'Unknown Country'
df_clean['country'] = df_clean['country'].fillna('Unknown Country')
print(f"After filling country: {df_clean['country'].isnull().sum()} missing")

#Step 3: Drop rows with missing 'date_added' (only 10 rows)
df_clean = df_clean.dropna(subset = ['date_added'])
print(f"After dropping missing date_added: {df_clean['date_added'].isnull().sum()} missing")


#Step 4: Fill any remaining missing 'duration'
df_clean['duration'] = df_clean['duration'].fillna('Unknown Duration')
print(f"After filling duration: {df_clean['duration'].isnull().sum()} missing")

print()
print(f"FINAL CLEAN DATASET")
print(f"Shape: {df_clean.shape}")
print(f"Rows lost: {len(df) - len(df_clean)} ({((len(df) - len(df_clean))/len(df))*100:.2f}%)")

======================================================================
🎬 PRACTICAL EXAMPLE: Cleaning Netflix Data
======================================================================
Starting shape: (8807, 12)
Starting missing values: 4307

After dropping missing ratings: (8803, 12)
After filling directors: 0 missing
After filling cast: 0 missing
After filling country: 0 missing
After dropping missing date_added: 0 missing
After filling duration: 0 missing

FINAL CLEAN DATASET
Shape: (8793, 12)
Rows lost: 14 (0.16%)

In [68]:
# ============================================================================
# QUICK REFERENCE CHEAT SHEET
# ============================================================================
print("="*70)
print("MISSING DATA METHODS SUMMARY:")
print("="*70)
print("DETECTING:")
print("  df.isnull()              → Returns boolean DataFrame")
print("  df.isnull().sum()        → Count missing per column")
print("  df.notnull()             → Opposite of isnull()")
print()
print("DROPPING:")
print("  df.dropna()              → Drop rows with ANY missing")
print("  df.dropna(how='all')     → Drop rows with ALL missing")
print("  df.dropna(subset=['col']) → Drop rows with missing in specific columns")
print("  df.dropna(thresh=n)      → Keep rows with at least n non-null")
print("  df.dropna(axis=1)        → Drop columns with missing")
print()
print("FILLING:")
print("  df.fillna(value)         → Fill all missing with value")
print("  df.fillna(method='ffill') → Forward fill (use previous value)")
print("  df.fillna(method='bfill') → Backward fill (use next value)")
print("  df['col'].fillna(df['col'].mean()) → Fill with mean")
print()
print("REPLACING:")
print("  df.replace(old, new)     → Replace specific values")
print("="*70)

======================================================================
MISSING DATA METHODS SUMMARY:
======================================================================
DETECTING:
  df.isnull()              → Returns boolean DataFrame
  df.isnull().sum()        → Count missing per column
  df.notnull()             → Opposite of isnull()

DROPPING:
  df.dropna()              → Drop rows with ANY missing
  df.dropna(how='all')     → Drop rows with ALL missing
  df.dropna(subset=['col']) → Drop rows with missing in specific columns
  df.dropna(thresh=n)      → Keep rows with at least n non-null
  df.dropna(axis=1)        → Drop columns with missing

FILLING:
  df.fillna(value)         → Fill all missing with value
  df.fillna(method='ffill') → Forward fill (use previous value)
  df.fillna(method='bfill') → Backward fill (use next value)
  df['col'].fillna(df['col'].mean()) → Fill with mean

REPLACING:
  df.replace(old, new)     → Replace specific values
======================================================================

In [69]:
# ============================================================================
# PANDAS LEARNING - SECTION 5: GROUPBY & AGGREGATION
# ============================================================================
# This is WHERE PANDAS SHINES! 
# GroupBy lets you split-apply-combine: group data, calculate stats, get insights
# This is like Excel pivot tables, but way more powerful!
# ============================================================================

In [70]:
# ============================================================================
# UNDERSTANDING GROUPBY - The Concept
# ============================================================================

print("="*70)
print("WHAT IS GROUPBY?")
print("="*70)
print("""
GroupBy follows the "Split-Apply-Combine" pattern:

1. SPLIT: Divide data into groups based on some criteria
2. APPLY: Calculate something for each group (count, sum, mean, etc.)
3. COMBINE: Put results back together

Example: "How many Movies vs TV Shows?"
- SPLIT by 'type' (Movie, TV Show)
- APPLY count function
- COMBINE into result
""")
print()

======================================================================
WHAT IS GROUPBY?
======================================================================

GroupBy follows the "Split-Apply-Combine" pattern:

1. SPLIT: Divide data into groups based on some criteria
2. APPLY: Calculate something for each group (count, sum, mean, etc.)
3. COMBINE: Put results back together

Example: "How many Movies vs TV Shows?"
- SPLIT by 'type' (Movie, TV Show)
- APPLY count function
- COMBINE into result

In [71]:
# ============================================================================
# BASIC GROUPBY - Single Column
# ============================================================================
print("="*70)
print("Basic Groupby - Counting")
print("="*70)


# Count by type (Movie vs TV Show)
type_counts = df_clean.groupby('type').size()
print("How many of each type?")
print(type_counts)

#Alternative using .count() - counts non-null values in each column

type_counts2 = df.groupby('type').count()
print("Using .count() (shows counts for EACH column):")
print(type_counts2)
print(f"Type: {type(type_counts2)}")
print()

======================================================================
Basic Groupby - Counting
======================================================================
How many of each type?
type
Movie      6129
TV Show    2664
dtype: int64
Using .count() (shows counts for EACH column):
         show_id  title  director  cast  country  date_added  release_year  \
type
Movie       6131   6131      5943  5656     5691        6131          6131
TV Show     2676   2676       230  2326     2285        2666          2676

         rating  duration  listed_in  description
type
Movie      6129      6128       6131         6131
TV Show    2674      2676       2676         2676
Type: <class 'pandas.core.frame.DataFrame'>

In [72]:
# ============================================================================
# GROUPBY WITH AGGREGATION FUNCTIONS
# ============================================================================

print("="*70)
print("GROUPBY WITH AGGREGATIONS")
print("="*70)


# Group by type and get multiple statistics
print("Basic Statistics by type:")
stats = df_clean.groupby('type')['release_year'].describe()
print(stats)
print()

======================================================================
GROUPBY WITH AGGREGATIONS
======================================================================
Basic Statistics by type:
          count         mean       std     min     25%     50%     75%     max
type
Movie    6129.0  2013.120574  9.679592  1942.0  2012.0  2016.0  2018.0  2021.0
TV Show  2664.0  2016.627628  5.735194  1925.0  2016.0  2018.0  2020.0  2021.0

In [73]:
#Specific aggregations
print("Average release year by type:")
avg_year = df_clean.groupby('type')['release_year'].mean()
print(avg_year)
print()

Average release year by type:
type
Movie      2013.120574
TV Show    2016.627628
Name: release_year, dtype: float64

In [74]:
print("Earliest release year by type:")
min_year = df_clean.groupby('type')['release_year'].min()
print(min_year)
print()

Earliest release year by type:
type
Movie      1942
TV Show    1925
Name: release_year, dtype: int64

In [75]:
print("Latest release year by type:")
max_year = df_clean.groupby('type')['release_year'].max()
print(max_year)
print()

Latest release year by type:
type
Movie      2021
TV Show    2021
Name: release_year, dtype: int64

In [76]:
# ============================================================================
# COMMON AGGREGATION FUNCTIONS
# ============================================================================

print("="*70)
print("📚 COMMON AGGREGATION FUNCTIONS:")
print("="*70)

#Let's use rating as example
rating_analysis = df.groupby('rating')['release_year'].agg([
    'count',
    'mean',
    'min',
    'max',
    'std'
])

print('Analysis by rating')
print(rating_analysis.sort_values('count', ascending = False).head(10))
print()

======================================================================
📚 COMMON AGGREGATION FUNCTIONS:
======================================================================
Analysis by rating
        count         mean   min   max        std
rating
TV-MA    3207  2016.661678  1945  2021   5.620009
TV-14    2160  2013.655556  1925  2021   9.774667
TV-PG     863  2013.529548  1943  2021  10.640563
R         799  2010.471840  1962  2021  10.014095
PG-13     490  2009.314286  1955  2021   9.033408
TV-Y7     334  2015.508982  1981  2021   5.604447
TV-Y      307  2017.159609  1992  2021   3.629571
PG        287  2008.428571  1973  2021  11.724442
TV-G      220  2015.745455  1954  2021   7.952986
NR         80  2010.912500  1958  2018  10.297098

In [77]:
# ============================================================================
# GROUPBY WITH MULTIPLE COLUMNS
# ============================================================================
print("="*70)
print("📌 GROUPBY MULTIPLE COLUMNS")
print("="*70)

type_rating = df.groupby(['type','rating']).size()
print('Count by type and rating:')
print(type_rating.head(15))
print()

======================================================================
📌 GROUPBY MULTIPLE COLUMNS
======================================================================
Count by type and rating:
type   rating
Movie  66 min       1
       74 min       1
       84 min       1
       G           41
       NC-17        3
       NR          75
       PG         287
       PG-13      490
       R          797
       TV-14     1427
       TV-G       126
       TV-MA     2062
       TV-PG      540
       TV-Y       131
       TV-Y7      139
dtype: int64

In [78]:
#unstack to make it more readable (convert to wide format)
type_rating_table = df_clean.groupby(['type','rating']).size().unstack(fill_value = 0)
print("As a table (unstacked):")
print(type_rating_table)

print()

As a table (unstacked):
rating   66 min  74 min  84 min   G  NC-17  NR   PG  PG-13    R  TV-14  TV-G  \
type
Movie         1       1       1  41      3  75  287    490  797   1427   126
TV Show       0       0       0   0      0   4    0      0    2    730    94

rating   TV-MA  TV-PG  TV-Y  TV-Y7  TV-Y7-FV  UR
type
Movie     2062    540   131    139         5   3
TV Show   1143    321   175    194         1   0

In [79]:
# ============================================================================
# MULTIPLE AGGREGATIONS ON MULTIPLE COLUMNS
# ============================================================================

print("="*70)
print("📌 ADVANCED: Multiple aggregations")
print("="*70)

advanced_agg = df.groupby('type').agg({
    'release_year': ['min','max','mean'],
    'show_id':'count',
    'title':'count'
})

print("Multiple Aggregations:")
print(advanced_agg)
print()

======================================================================
📌 ADVANCED: Multiple aggregations
======================================================================
Multiple Aggregations:
        release_year                    show_id title
                 min   max         mean   count count
type
Movie           1942  2021  2013.121514    6131  6131
TV Show         1925  2021  2016.605755    2676  2676

In [80]:
# ============================================================================
# FILTERING GROUPS
# ============================================================================

print("="*70)
print("📌 FILTERING GROUPS")
print("="*70)

======================================================================
📌 FILTERING GROUPS
======================================================================

In [81]:

# ============================================================================
# FILTERING GROUPS
# ============================================================================

print("="*70)
print("📌 FILTERING GROUPS")
print("="*70)

# Show only ratings that have more than 100 titles
popular_ratings = df.groupby('rating').filter(lambda x: len(x) > 100)
print(f"Titles with popular ratings (>100 count): {len(popular_ratings)}")
print()

# Which ratings are popular?
print("Popular ratings:")
print(popular_ratings['rating'].value_counts())
print()

# ============================================================================
# APPLYING CUSTOM FUNCTIONS
# ============================================================================

print("="*70)
print("📌 CUSTOM FUNCTIONS WITH GROUPBY")
print("="*70)

# Custom function: range of release years
def year_range(series):
    return series.max() - series.min()

# Apply custom function
ranges = df.groupby('type')['release_year'].apply(year_range)
print("Release year range by type:")
print(ranges)
print()

# Multiple custom functions
def custom_stats(series):
    return pd.Series({
        'range': series.max() - series.min(),
        'median': series.median(),
        'most_common': series.mode()[0] if len(series.mode()) > 0 else None
    })

custom_analysis = df.groupby('type')['release_year'].apply(custom_stats)
print("Custom statistics:")
print(custom_analysis)
print()

# ============================================================================
# REAL-WORLD EXAMPLES
# ============================================================================

print("="*70)
print("🎬 REAL-WORLD ANALYSIS EXAMPLES:")
print("="*70)

# Example 1: Top 10 countries by content production
print("1️⃣ Top 10 countries producing Netflix content:")
# Note: country column might have multiple countries, but let's use it simply
top_countries = df['country'].value_counts().head(10)
print(top_countries)
print()

# Example 2: Content added per year
print("2️⃣ Content trends over time:")
# Extract year from date_added
df['year_added'] = pd.to_datetime(df['date_added'], errors='coerce').dt.year
yearly_content = df.groupby('year_added').size().sort_index()
print(yearly_content.tail(10))  # Last 10 years
print()

# Example 3: Rating distribution by type
print("3️⃣ Rating distribution by content type:")
rating_by_type = df.groupby(['type', 'rating']).size().unstack(fill_value=0)
print(rating_by_type)
print()

# Example 4: Which type has newer content on average?
print("4️⃣ Average release year by type:")
avg_release = df.groupby('type')['release_year'].mean()
print(avg_release)
print()

# Example 5: Most prolific directors
print("5️⃣ Top 10 directors by content count:")
# Filter out 'Unknown Director' and missing values
directors = df[df['director'].notna() & (df['director'] != 'Unknown Director')]
top_directors = directors['director'].value_counts().head(10)
print(top_directors)
print()

# ============================================================================
# GROUPBY + SORTING
# ============================================================================

print("="*70)
print("📌 COMBINING GROUPBY WITH SORTING")
print("="*70)

# Find most common rating for each type
most_common_rating = df.groupby('type')['rating'].agg(
    lambda x: x.value_counts().index[0]
)
print("Most common rating by type:")
print(most_common_rating)
print()

# Count and sort
rating_counts = df.groupby('rating').size().sort_values(ascending=False)
print("All ratings sorted by count:")
print(rating_counts)
print()

# ============================================================================
# QUICK REFERENCE CHEAT SHEET
# ============================================================================

print("="*70)
print("📚 GROUPBY METHODS SUMMARY:")
print("="*70)
print("""
BASIC GROUPBY:
  df.groupby('col')              → Group by one column
  df.groupby(['col1', 'col2'])   → Group by multiple columns
  
AGGREGATION FUNCTIONS:
  .size()                        → Count rows in each group
  .count()                       → Count non-null values
  .sum()                         → Sum values
  .mean()                        → Average
  .median()                      → Median
  .min() / .max()                → Minimum/Maximum
  .std()                         → Standard deviation
  .describe()                    → Multiple statistics
  
ADVANCED:
  .agg(['func1', 'func2'])       → Multiple aggregations
  .agg({'col1': 'func1'})        → Different functions per column
  .apply(custom_function)        → Custom function
  .filter(condition)             → Filter groups
  
RESHAPING:
  .unstack()                     → Pivot to wide format
  .reset_index()                 → Convert index to columns
""")
print("="*70)

# ============================================================================
# YOUR TURN TO EXPERIMENT!
# ============================================================================
# Try these:
# 1. df.groupby('rating').size()                    - Count by rating
# 2. df.groupby('type')['release_year'].max()       - Latest release by type
# 3. df.groupby('rating')['release_year'].mean()    - Avg year by rating
# 4. df.groupby(['type', 'rating']).size()          - Count by type AND rating
# 5. df['country'].value_counts().head(20)          - Top 20 countries
# 6. df.groupby('type')['release_year'].describe()  - Full stats by type

======================================================================
📌 FILTERING GROUPS
======================================================================
Titles with popular ratings (>100 count): 8667

Popular ratings:
TV-MA    3207
TV-14    2160
TV-PG     863
R         799
PG-13     490
TV-Y7     334
TV-Y      307
PG        287
TV-G      220
Name: rating, dtype: int64

======================================================================
📌 CUSTOM FUNCTIONS WITH GROUPBY
======================================================================
Release year range by type:
type
Movie      79
TV Show    96
Name: release_year, dtype: int64

Custom statistics:
type
Movie    range            79.0
         median         2016.0
         most_common    2017.0
TV Show  range            96.0
         median         2018.0
         most_common    2020.0
Name: release_year, dtype: float64

======================================================================
🎬 REAL-WORLD ANALYSIS EXAMPLES:
======================================================================
1️⃣ Top 10 countries producing Netflix content:
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: country, dtype: int64

2️⃣ Content trends over time:
year_added
2012.0       3
2013.0      11
2014.0      24
2015.0      82
2016.0     429
2017.0    1188
2018.0    1649
2019.0    2016
2020.0    1879
2021.0    1498
dtype: int64

3️⃣ Rating distribution by content type:
rating   66 min  74 min  84 min   G  NC-17  NR   PG  PG-13    R  TV-14  TV-G  \
type
Movie         1       1       1  41      3  75  287    490  797   1427   126
TV Show       0       0       0   0      0   5    0      0    2    733    94

rating   TV-MA  TV-PG  TV-Y  TV-Y7  TV-Y7-FV  UR
type
Movie     2062    540   131    139         5   3
TV Show   1145    323   176    195         1   0

4️⃣ Average release year by type:
type
Movie      2013.121514
TV Show    2016.605755
Name: release_year, dtype: float64

5️⃣ Top 10 directors by content count:
Rajiv Chilaka             19
Raúl Campos, Jan Suter    18
Marcus Raboy              16
Suhas Kadav               16
Jay Karas                 14
Cathy Garcia-Molina       13
Martin Scorsese           12
Youssef Chahine           12
Jay Chapman               12
Steven Spielberg          11
Name: director, dtype: int64

======================================================================
📌 COMBINING GROUPBY WITH SORTING
======================================================================
Most common rating by type:
type
Movie      TV-MA
TV Show    TV-MA
Name: rating, dtype: object

All ratings sorted by count:
rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
UR             3
NC-17          3
74 min         1
84 min         1
66 min         1
dtype: int64

======================================================================
📚 GROUPBY METHODS SUMMARY:
======================================================================

BASIC GROUPBY:
  df.groupby('col')              → Group by one column
  df.groupby(['col1', 'col2'])   → Group by multiple columns

AGGREGATION FUNCTIONS:
  .size()                        → Count rows in each group
  .count()                       → Count non-null values
  .sum()                         → Sum values
  .mean()                        → Average
  .median()                      → Median
  .min() / .max()                → Minimum/Maximum
  .std()                         → Standard deviation
  .describe()                    → Multiple statistics

ADVANCED:
  .agg(['func1', 'func2'])       → Multiple aggregations
  .agg({'col1': 'func1'})        → Different functions per column
  .apply(custom_function)        → Custom function
  .filter(condition)             → Filter groups

RESHAPING:
  .unstack()                     → Pivot to wide format
  .reset_index()                 → Convert index to columns

======================================================================